<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Predicting Survival Outcomes for ICU Patients</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">


    <!-- Custom fonts for this template -->
    <!--<link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->
    <link href="{{url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet"
          type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Plugin CSS -->
    <!--<link href="../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">-->
    <link href="{{url_for('static', filename = 'vendor/magnific-popup/magnific-popup.css')}}" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <!--<link href="../static/css/freelancer.min.css" rel="stylesheet">-->
    <link href="{{url_for('static', filename = 'css/freelancer.min.css')}}" rel="stylesheet">


</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#explore">Explore</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#predict">Predict</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#learn">Learn More</a>
                </li>
                <!--<li class="nav-item mx-0 mx-lg-1">-->
                <!--<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <!--<img class="img-fluid mb-5 d-block mx-auto" src="/static/img/heart_sq.png" alt="">-->
        <img class="img-fluid mb-5 d-block mx-auto" src="{{url_for('static', filename='img/heart_sq.png')}}" alt="">
        <h1 class="text-uppercase mb-0">Predicting Survival Outcomes</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Calculate the survival probability of ICU patients using EHR data</h2>
    </div>
</header>


<!-- About Section -->
<section id="about">

    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">About</h2>
        <hr class="star-dark mb-5">
        <div class="row">

            <div class="ml-auto">
                <p class="lead">

                    Patients that enter Intensive Care Units (ICUs) require specialized care and
                    close monitoring to address often severe and life-threatening conditions. Different studies have
                    found that between 55-75% of patients survive. This can lead one to consider if we can use machine
                    learning to model patients' survival outcomes using available health data. <br>
                    <br>

                    MIMIC-III (Medical Information Mart for Intensive Care) is a clinical database comprised of
                    deidentified health-related data from 2001 and 2012 associated with over 46,000 ICU patients.
                    <br>
                    <br>


                </p>
            </div>

            <div class="col-lg-4 mr-auto">
                <p class="lead text-center">

                    Ask: <br>
                    Can we predict the probability of a patient surviving after being admitted to the ICU
                    using only their admissions information?

                </p>
            </div>

            <div class="col-lg-4 mr-auto">
                <p class="lead text-center">

                    Response: <br>
                    A machine learning model was trained to predict the probability of survival
                    for patients admitted to the ICU using attributes from admissions data.
                </p>
            </div>

            <div class="col-lg-4 mr-auto">
                <p class="lead text-center">

                    Explore: <br>
                    Continue onward to learn more about the data
                    and how a subset of the original dataset was selected to train the model.

                </p>
            </div>

        </div>

    </div>
</section>

<!-- Explore Section -->
<section class="bg-primary text-white mb-0" id="explore">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">Explore The Data</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text">
                            <i class="fas fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{url_for('static', filename='img/days_in_icu.png')}}" alt="">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text">
                            <i class="fas fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{url_for('static', filename='img/age_of_admit.png')}}" alt="">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text">
                            <i class="fas fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{url_for('static', filename='img/type_of_admit.png')}}" alt="">
                </a>
            </div>

            <div class="ml-auto">
                <p class="lead text-white">
                    <br>
                    <br>

                    After exploratory data analysis, 4 attributes
                    were selected to train the predictive model: age, gender, type of admission, and initial
                    diagnosis.
                    Age represents the continuous variable of a patient's age, while gender and type of admission
                    are
                    categorical variables. Based on the dataset, gender can be either female or male and the 3
                    types of admissions are elective, emergency, and urgent. MIMIC provides that
                    the main difference between elective and emergency/urgent is that elective
                    indicates a planned medical visit.
                    <br>
                    <br>
                    The initial diagnosis is the preliminary diagnosis of a patient at hospital admission
                    usually assigned by the admitting clinician. This attribute is a line of free text&mdash;and this
                    project expects that this text attribute holds a great deal of information that is not
                    available in the numerical or categorical data.
                    Examples of initial diagnoses include: <br>
                    - 'Pneumonia'<br>
                    - 'Post-op knee infection'<br>
                    <br>
                    Of the original 46,000+ patients, the dataset was filtered for adults between the ages of 18 and 89
                    and
                    for patients who spent less than 31 days in the ICU.
                    Patients who did not survive were determined by those who passed away within 1 day of being
                    discharged (inclusive of passing away in the ICU). This resulted in approximately 25,000 unique
                    patients, of whom about 5,000 did not survive. To have a balanced dataset,
                    a random selection of
                    5,000 patients was selected from the 20,000 who survived to train the model along with the
                    5,000 who did not survive.


                </p>
            </div>

        </div>

    </div>
</section>


<!-- Predict Section -->
<section id="predict">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Make A Prediction</h2>
        <hr class="star-dark mb-5">
        <div class="row">

            <div class="col-lg-4 ml-auto">
                <p class="lead text-center">
                    About the Model: <br>
                    <br>
                    A logistic regression model was trained on approximately 10,000 adult patients using attributes
                    of age, gender, admission type, and initial diagnosis. <br>

                    The initial diagnosis
                    was vectorized to retrieve term significance
                    with term frequency-inverse document frequency (TF-IDF).<br>
                    <br>
                    The train and test accuracies were between 75-78% (with a classification threshold of
                    0.5)&mdash;thus,
                    overfitting does not appear to be a notable concern. The AUROC when trained on the entire
                    dataset was about 0.78.

                </p>
            </div>


            <div class="col-lg-4 mr-auto">
                <p class="lead text-center">

                    Select values for the
                    following 4 attributes:

                </p>
                <form id="input" method="post" action="index#predict">
                    <p>
                        1. Age:
                        <select name="age">
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                            <option value="60">60</option>
                            <option value="61">61</option>
                            <option value="62">62</option>
                            <option value="63">63</option>
                            <option value="64">64</option>
                            <option value="65">65</option>
                            <option value="66">66</option>
                            <option value="67">67</option>
                            <option value="68">68</option>
                            <option value="69">69</option>
                            <option value="70">70</option>
                            <option value="71">71</option>
                            <option value="72">72</option>
                            <option value="73">73</option>
                            <option value="74">74</option>
                            <option value="75">75</option>
                            <option value="76">76</option>
                            <option value="77">77</option>
                            <option value="78">78</option>
                            <option value="79">79</option>
                            <option value="80">80</option>
                            <option value="81">81</option>
                            <option value="82">82</option>
                            <option value="83">83</option>
                            <option value="84">84</option>
                            <option value="85">85</option>
                            <option value="86">86</option>
                            <option value="87">87</option>
                            <option value="88">88</option>
                            <option value="89">89</option>
                        </select> <br> <br>

                        2. Gender:
                        <select name="gender">
                            <option value="0" {% if gender=="female" %} selected="selected" {% endif %}>Female</option>
                            <option value="1" {% if gender=="male" %} selected="selected" {% endif %}>Male</option>
                        </select> <br> <br>

                        3. Type of ICU Admission:
                        <select name="type">
                            <option value="0" {% if type=="elective" %} selected="selected" {% endif %}>Elective
                            </option>
                            <option value="1" {% if type=="emergency" %} selected="selected" {% endif %}>Emergency
                            </option>
                            <option value="2" {% if type=="urgent" %} selected="selected" {% endif %}>Urgent</option>
                        </select> <br> <br>

                        4. Initial Diagnosis:
                        <select name="description">
                            <option value="BENZODIAZEPINE OVERDOSE" {% if desc=="benzodiazepine overdose" %} selected="selected" {%
                            endif %}>Benzodiazepine Overdose
                            </option>
                            <option value="BRAIN MASS">Brain Mass</option>
                            <option value="CHEST">Chest Pain</option>
                            <option value="CONGESTIVE HEART FAILURE">Congestive Heart Failure</option>
                            <option value="FEVER">Fever</option>
                            <option value="KIDNEY RENAL FAILURE">Kidney Failure</option>
                            <option value="INTRACRANIAL HEMORRHAGE">Intracranial Hemorrhage</option>
                            <option value="LIVER FAILURE">Liver Failure</option>
                            <option value="PELVIC FRACTURE">Pelvic Fracture</option>
                            <option value="PNEUMONIA">Pneumonia</option>
                            <option value="SEIZURE">Seizure</option>
                            <option value="SEPSIS">Sepsis</option>
                        </select> <br> <br>
                    </p>
                    <p>
                        <input type="submit" value="Make a prediction!"/>
                        <!--<input id="start_data" type="text" name="start_date" value="{{ request.form['start_date'] }}"/>-->
                    </p>
                </form>
            </div>

            <div class="col-lg-4 ml-auto">
                <p class="lead text-center">


                    Prediction Results: <br>
                    <br>
                    {% if prediction_value %}
                    A {{ gender }} patient who is {{ age }} years old with
                    an {{ type }} admission to the ICU and diagnosed with {{ desc }}
                    is expected to have <br>
                    {{ prediction_value }}% chance of survival.
                    <br>

                    <br>
                    What does this result mean? <br>
                    This is the prediction of a model trained on a specific set of attributes and patients, but
                    there are numerous other factors such as
                    medical history and treatment that can affect
                    survival rate. <br>
                    Please do not consider this as
                    medical advice.

                    {% else %}
                    Select values to make a prediction.

                    {% endif %}

                </p>
            </div>


        </div>

    </div>
</section>

<!-- Learn More Section -->
<section class="footer text-center" id="learn">
    <div class="container">
        <h2 class="text-center text-uppercase text-white text center">Learn More</h2>
        <hr class="star mb-5">

        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">MIMIC</h4>
                <p class="lead mb-0"> Access to
                    <a href="https://mimic.mit.edu/about/mimic/">MIMIC</a> is available through request.</p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="mb-4">Find Vasudha Gupta</h4>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle"
                           href="https://www.linkedin.com/in/vasudhagupta">
                            <i class="fab fa-fw fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle"
                           href="https://twitter.com/vasudhathinks">
                            <i class="fab fa-fw fa-twitter"></i>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle"
                           href="https://github.com/vasudhathinks/">
                            <i class="fab fa-fw fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase mb-4 ">Code</h4>
                <p class="lead mb-0">Source code for this app is available through its
                    <a href="https://github.com/vasudhathinks/Personal-Projects/blob/master/Healthcare_Project/final_proposal/Project%20Proposal.ipynb">github
                        repo</a>.</p>
            </div>
        </div>


    </div>
</section>


<!-- Footer -->
<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; Vasudha Gupta + Start Bootstrap 2019</small>
    </div>
</div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Length of ICU Stay</h2>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="{{url_for('static', filename='img/days_in_icu.png')}}" alt="">
                    <p class="mb-5">
                        Most patients spend a short period of time in the ICU, with a significant amount spending up to
                        10 days. This graph shows that the number of patients who have survived substantially decreases
                        as the
                        number of days spent in the ICU increases. There is a slower [declining] progression for
                        patients who do not survive, nevertheless the number of such patients also decreases with time.
                        <br>
                        <br>
                        This project expects that patients that remain in the ICU for a long period of
                        time have more critical needs than the average ICU patient. Thus, a cutoff of 30 days was
                        selected and only patients that spent up to 30 days in the ICU were considered for this project.
                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i>
                        Close Window</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Age of Patients</h2>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="{{url_for('static', filename='img/age_of_admit.png')}}" alt="">
                    <p class="mb-5">
                        A majority of patients entering the ICU are between the ages of 40 and
                        90. There is a a general trend showing that as age increases, more older patients are
                        admitted to the ICU. Moreover, of these older patients who are admitted, a smaller portion
                        survive (the size of the orange bars increase with age denoting a larger portion who do not
                        survive).
                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i>
                        Close Window</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Type of ICU Admission</h2>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="{{url_for('static', filename='img/type_of_admit.png')}}" alt="">
                    <p class="mb-5">
                        We see that a vast majority of admissions to the ICU are emergency. Moreover, it appears to be
                        highly likely for an elective admission to result in survival.
                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i>
                        Close Window</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

<!-- Plugin JavaScript -->
<script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js')}}"></script>

<!-- Contact Form JavaScript -->
<script src="{{url_for('static', filename='js/jqBootstrapValidation.js')}}"></script>
<script src="{{url_for('static', filename='js/contact_me.js')}}"></script>

<!-- Custom scripts for this template -->
<script src="{{url_for('static', filename='js/freelancer.min.js')}}"></script>

</body>

</html>
